@{
    ViewData["Title"] = "About";
}
<div class="aboutpage">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li><a href="#a" data-toggle="tab">About</a></li>
                    <li><a href="#b" data-toggle="tab">Mission</a></li>
                    <li><a href="#c" data-toggle="tab">Vission</a></li>
                    <li><a href="#d" data-toggle="tab">Features</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        <div id="about" class="about-info">
                            <div class="container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h1 class="about-title">About Us</h1>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <p class="text-justify about-desp">Tech Training is a leading provide of IT training and job placement.We improve the global passions of IT professionals and IT channel institutions and make it possible for them to be more successful with industry-leading IT certifications and IT business credentialsOur Classes are taught by experts who are experienced with quickly building your knowledge base through in-depth facilitation coupled with intensive hands-on labs.</p>
                                            </div>
                                            <div class="col-md-5">
                                                <img src="~/DataDirectory/images/About/About.png" class="img-responsive about-img" alt="PC">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="b">
                        <div id="about" class="about-info">
                            <div class="container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h1 class="about-title">Mission</h1>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="text-justify about-desp">Tech Training is full-service Web design, Web Development, Software Development company offering an extensive range of Internet services to businesses and organizations around the world. We specialize in web development, e-commerce, mobile development, custom website design, domain-hosting and more. Soft-BD's industry leading team is at the forefront of pioneering results-driven Internet business solutions and technologies. A clear perception of the growing requirement of the corporate world in the area of IT has enabled Soft-BD to develop programs of specific relevance for the present and the future.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="c">
                        <div id="about" class="about-info">
                            <div class="container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h1 class="about-title">Vission</h1>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p class="text-justify about-desp">At Tech Training with Technical proficiency and expertise, we cohesively integrate graphic design with web page layout, with interactive programming, with database driven content, to plan, build and deploy e- business and to emerge as one of the top IT service provider. We believe to create imagination! Clients as we futures' to build a strong relationship with our clients by meeting their requirements and goals to set an example among our competitors that we emphasize more on customer building and commitment than to create strong vision statements.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="d">
                        <div id="about" class="about-info">
                            <div class="container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h1 class="about-title">Features</h1>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 about-feature">
                                                <div class="about-overlay">
                                                    <ul class="list-group">
                                                        <li><span class="fa fa-check-square-o"></span>Resume Building and Mock interviews.</li>
                                                        <li><span class="fa fa-check-square-o"></span>Technical Screeing by the Marketing team.</li>
                                                        <li><span class="fa fa-check-square-o"></span>100% Placement Assistances for Our consultants.</li>
                                                        <li><span class="fa fa-check-square-o"></span>Support will be provided while in the project.</li>
                                                        <li><span class="fa fa-check-square-o"></span>H1B sponsorship and GC for qualified employees.</li>
                                                        <li><span class="fa fa-check-square-o"></span>Free Training to upgrade skills for our employees.</li>
                                                        <li><span class="fa fa-check-square-o"></span>Excellent marketing team for job placements.</li>
                                                        <li><span class="fa fa-check-square-o"></span>placement Assistance with our clients in full time orconsulting positions</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>