@{
    ViewData["Title"] = "Home";
}

<!-- Responsive slider - START -->
<div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
    <div class="slides-container" data-group="slides">
        <ul>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="1500">
                                <h2 class="background-lead-darker">
                                    Software Development
                                </h2>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Rapid Application Development Tool</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Complex UI, View Models and Model Code Generator</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="500" data-length="300"><span>Generate Bootstrap, AngularJS, C#/Java code</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="700" data-length="300"><span>Save 50% on Cloud Modernization</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Move and Improve on Cloud, ask for Demo now</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="1500">
                                <h2 class="background-lead-darker">Cloud Computing</h2>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Cloud Services, Microservices, Containers &amp; Serverless</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300"><span>Cloud Native Development using DevOps, DevSecOps and Agile</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>ASP.Net, MVC, Web APIs, J2EE</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Angular, Vue.js, Knockout and React</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Expert in AWS RDS, Azure SQL, SQL Server, Oracle, Sybase,  or Bigdata</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>On cloud of your choice at Amazon AWS, Microsoft Azure or Google</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="500">
                                <h2 class="background-lead-darker">Application Development</h2>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Responsive, Mobile First friendly and modern site designs</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>508 Standards compliant</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Make website fit for Desktop, Laptop, iPad, iPhone and Android devices</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Bootstrap Implementation on Angular, Vue.js, React or Knockout</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="500">
                                <h2 class="background-lead-darker">Project Management</h2>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>Program Oversight and Communication</span></p>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>Enterprise Performance Life Cycle (EPLC)</span></p>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>Capital Planning and Investment Control (CPIC)</span></p>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>Resource Scheduling and Coordination</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a class="slider-control left hidden-xs hidden-sm" href="#" data-jump="prev"><i class="fa fa-angle-left"></i></a>
    <a class="slider-control right hidden-xs hidden-sm" href="#" data-jump="next"><i class="fa fa-angle-right"></i></a>
    <div class="pages-wrapper background-black">
        <ol class="pages">
            <li><a data-jump-to="1">1</a></li>
            <li><a data-jump-to="2">2</a></li>
            <li><a data-jump-to="3">3</a></li>
            <li><a data-jump-to="4">4</a></li>
        </ol>
    </div>
</div>
<!-- Responsive slider - END -->
<!-- Headline Section Strat -->
<div class="text-center text-light headline">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title">
                <h1>C# ASP.NET MVC & SQL</h1>
                <h4>Job Placement & Software Development</h4>
            </div>
        </div>
    </div>
</div>
<!-- Headline Section End -->
<!-- Software development Section Start -->
<div class="sd-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 sd-title">
                <h1>Software Development</h1>
                <p class="text-justify">We specialize in building sustainable and cutting edge customized software, web and mobile applications solutions that drive the value of your business. We build software that helps your business to succeed! Our team of certified professionals combines knowledge, professionalism and integrity with a big passion for software development.</p>
                <a asp-controller="Home" asp-action="Service" class="btn btn-info">Read More</a>
            </div>
            <div class="col-sm-6">
                <img src="~/DataDirectory/images/Home/software development.jpeg" class="img-responsive sd-img" alt="SD">
            </div>
        </div>
    </div>
</div>
<!-- Software development Section End -->
<!-- Job Consultancy Section Start -->
<div class="job-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/DataDirectory/images/Home/job.jpeg" class="img-responsive job-img" />
            </div>
            <div class="col-sm-6 align-self-center job-title">
                <h1>Job Consultancy</h1>
                <p class="text-justify">We understand that finding a job can be a difficult and time consuming task — finding a career, even more so. At Tech Training we become your career partner. That means you get assigned to an experienced recruiter who will get to know you as a candidate and as a person. We're confident we will find you the right job and the career path you've been looking for.</p>
            </div>
        </div>
    </div>
</div>
<!-- Job Consultancy Section End -->
<!--Service Section Start-->
<section class="background-clouds">
    <div class="container">
        <h1 class="text-center service-title">Our Services</h1>
        <p class="lead text-center">Tech Training have command over these technologies. </p>
        <ul class="text-center filters">
            <li class="filter" data-filter="all"><a>All</a></li>
            <li class="filter" data-filter="cat1"><a>Development</a></li>
            <li class="filter" data-filter="cat2"><a>Content Management System</a></li>
            <li class="filter" data-filter="cat3"><a>Database Development</a></li>
        </ul>
        <div id="mixit" class="row">
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Software Development</h3>
                                <p>Web and Mobile Applications</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/software development.jpeg" alt="Software Development">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Asp.Net Development</h3>
                                <p>Microsoft Development IDE</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/visual.jpg" alt="Visual Studio Development">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Application Development</h3>
                                <p>Cross Platform and Native Development</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Application Development.jpeg" alt="Mobile Development">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>IT Stuffing</h3>
                                <p>Technology staffing services</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/It Stuffing.jpeg" alt="It Stuffing">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat3">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Cloud Computing</h3>
                                <p>Cloud Maintenance, Migration</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Cloud Computing.jpeg" alt="Cloud Computing">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Project Management</h3>
                                <p>Program Oversight and Communication</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Project Management.jpeg" alt="Project Management">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>SharePoint</h3>
                                <p>Development, Workflows, Dashboarding, Web Parts</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Sharepoint.jpg" alt="Office365 Development">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat3">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>MS SQL Server</h3>
                                <p>Leading RDBMS, we provide T-SQL and DBA Support</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Sql Server.jpg" alt="SQL Server Development">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat3">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name">
                                <h3>Big Data</h3>
                                <p>We do it too</p>
                                <a asp-action="Service" class="btn btn-service">Read more</a>
                            </div>
                        </div>
                        <img class="round" src="~/DataDirectory/images/Home/Big Data.jpg" alt="Big Data Development">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Service Section End-->
