body {
    font-family: 'Raleway';
}
/*Navbar Css Start*/
.navbar-logo {
    padding-top: 7px;
    float: left;
}
.logo-name {
    font-size: 50px;
    color: white;
    float: left;
    padding-left: 10px;
}
@media only screen and (max-width: 768px) {
    .logo-name{
        font-size: 40px;
    }
    .navbar-logo{
        width:60px;
        padding-left: 20px;
    }
}
    #menubar.navbar {
    background-color: #223344;
    color: #FFEEDD;
}

.navbar {
	-webkit-box-shadow: 0 0 4px rgba(50, 50, 50, .75);
	box-shadow: 0 0 4px rgba(50, 50, 50, .75);
	margin: 0;
	border: 0;
	background-color: inherit;
}

.navbar .nav.navbar-nav>li>a {
	color: inherit;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	-webkit-transition: padding .5s;
	transition: padding .5s;
	font-weight: 300;
	font-size: 16px;
}

.navbar .nav.navbar-nav>li>a:focus {
	background: 0 0;
}

.navbar .nav.navbar-nav>li>a .fa {
	color: #e67e22;
}

.navbar .nav.navbar-nav>li>a .caret {
	border-bottom-color: #e67e22;
	border-top-color: #e67e22;
}

.navbar .nav.navbar-nav>li>a:hover {
	padding-top: 40px;
	padding-bottom: 20px;
	background: rgba(0, 0, 0, .05);
}
.navbar .nav.navbar-nav>li.open>a {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #924d10;
	color: #fff;
}

.navbar .nav.navbar-nav>li.open>a .fa {
	color: #f0b37e;
}

.navbar .nav.navbar-nav>li.open>a .caret {
	border-bottom-color: #fff;
	border-top-color: #fff;
}

.navbar .nav.navbar-nav>li.open .dropdown-menu {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	visibility: visible;
}

.navbar .nav.navbar-nav>li .dropdown-menu {
	display: block;
	visibility: hidden;
	border: 0;
	background-color: #924d10;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-o-transition: -o-transform .5s;
	transition: transform .5s;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	transform: scale(1, 0);
}

.navbar .nav.navbar-nav>li .dropdown-menu li a {
	color: #fff;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.navbar .nav.navbar-nav>li .dropdown-menu li a:hover {
	background-color: #e67e22;
}

.navbar .nav.navbar-nav>li .dropdown-menu li form {
	padding: 10px 20px;
	width: 300px;
}

.navbar .nav.navbar-nav>li .dropdown-menu li.active a {
	background-color: #bf6516;
}

.navbar .nav.navbar-nav>li .dropdown-menu .divider {
	background-color: #7b410e;
}

.navbar .navbar-brand {
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
	-webkit-transition: padding .5s;
	transition: padding .5s;
	font-weight: 400;
	color: inherit;
}

.navbar .navbar-brand img {
	height: 40px;
	margin: -10px 10px -10px 0;
	border: 0;
	padding: 0;
	vertical-align: top;
}

.navbar.scroll .nav.navbar-nav>li>a,
.navbar.scroll .nav.navbar-nav>li>a:hover,
.navbar.scroll .navbar-brand {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar.scroll .navbar-brand img {
	height: 40px;
	margin: -10px 10px -10px 0;
	border: 0;
	padding: 0;
	vertical-align: top;
}
.background-lead {
    background-color: #E67E22;
}
/*Navbar Css End*/
/*Responsive Slider Css Start*/
.responsive-slider-parallax {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.responsive-slider-parallax .wrapper {
	position: relative;
	height: 100%;
}

.responsive-slider-parallax .slides-container {
	position: relative;
	overflow: hidden;
	background-image: url('../images/home/background-paralax.jpeg');
	background-size: cover;
	background-position: 0 0;
	cursor: pointer;
}

.responsive-slider-parallax .slides-container.drag {
	cursor: move;
}

.responsive-slider-parallax .slides-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	font-size: 0;
}

.responsive-slider-parallax .slides-container ul li {
	display: inline-block;
	width: 100%;
}

.responsive-slider-parallax .slides-container ul li .slide-body {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 380px;
	font-size: 14px;
}

.responsive-slider-parallax .slides-container ul li .slide-body img {
	max-width: 100%;
}

.responsive-slider-parallax .slides-container ul li .slide-body .container {
	height: 100%;
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption {
	position: absolute;
	color: #fff;
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
	top: 27%;
	width: 100%;
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
	font-family: Lato, Helvetica, Arial, sans-serif;
	display: inline-block;
	font-size: 100px;
	font-weight: 200;
	text-shadow: 2px 2px 0 #000;
	border-radius: 6px;
	line-height: 1.3em;
	margin: 0 0 2px;
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
	font-size: 35px;
}

@media (min-width:768px) and (max-width:979px) {
	.body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
		font-size: 50px;
	}
	.body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
		font-size: 20px;
	}  
}

@media (min-width:481px) and (max-width:767px) {
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
        font-size: 30px;
    }
	.body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
		font-size: 20px
	}
    .body-content .responsive-slider-parallax {
        padding-top: 0;
    }
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
    top: 20px;
    }
}

@media (max-width:480px) {
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
        font-size: 20px;
    }
	.body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
		font-size: 14px;
	}
    .body-content .responsive-slider-parallax {
        padding-top: 0;
    }
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
    top: 20px;
    }
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #000;
	text-shadow: none;
	padding: 0;
	margin-bottom: 0;
}

.responsive-slider-parallax .slides-container ul li .slide-body .caption .sub span {
	background: rgba(255, 255, 255, .75);
	padding: 0 5px;
	border-radius: 3px;
}

@media (min-width:768px) and (max-width:979px) {
	.body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
		font-size: 16px;
		line-height: 24px;
		bottom: 0;
		right: -10px;
	}
}

@media (min-width:481px) and (max-width:767px) {
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
        font-size: 12px;
        line-height: 22px;
        bottom: 0;
        right: -10px;
    }
}

@media (max-width:480px) {
    .body-content .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
        font-size: 10px;
        line-height: 15px;
        bottom: 0;
        right: 0;
    }
}

@media (min-width:1200px) {
	.responsive-slider-parallax .slides-container ul li .slide-body {
		height: 480px;
	}
}

@media (min-width:768px) and (max-width:979px) {
	.responsive-slider-parallax .slides-container ul li .slide-body {
		height: 300px;
	}
}

@media (min-width:481px) and (max-width:767px) {
	.responsive-slider-parallax .slides-container ul li .slide-body {
		height: 220px;
	}
}

@media (max-width:480px) {
	.responsive-slider-parallax .slides-container ul li .slide-body {
		height: 150px;
	}
}

.responsive-slider-parallax .slider-control {
	position: absolute;
	font-size: 40px;
	color: #000;
	top: 50%;
	background-color: #fff;
	padding: 10px;
	opacity: 40;
	filter: alpha(opacity=4000);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.responsive-slider-parallax .slider-control.left {
	left: -32px;
	padding-left: 7px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	opacity: 0;
}

.responsive-slider-parallax .slider-control.left:hover {
	text-decoration: none;
	opacity: 100;
	filter: alpha(opacity=10000);
}

.responsive-slider-parallax .slider-control.right {
	right: -32px;
	padding-right: 7px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	opacity: 0;
}

.responsive-slider-parallax .slider-control.right:hover {
	text-decoration: none;
	opacity: 100;
	filter: alpha(opacity=10000);
}

.responsive-slider-parallax:hover .slider-control.left {
	left: 0;
	opacity: .75;
}

.responsive-slider-parallax:hover .slider-control.right {
	right: 0;
	opacity: .75;
}

.responsive-slider-parallax .pages-wrapper {
	height: 10px;
}

.responsive-slider-parallax .pages-wrapper .pages {
	display: table;
	position: absolute;
	left: 0;
	list-style: none;
	padding: 0;
	width: 100%;
	margin-bottom: 0;
}

.responsive-slider-parallax .pages-wrapper .pages li {
	display: table-cell;
}

.responsive-slider-parallax .pages-wrapper .pages li a {
	display: block;
	color: transparent;
	font-size: 0;
	height: 10px;
	border-top: 0;
	-webkit-transition: background-color .7s;
	transition: background-color .7s;
	cursor: pointer;
}

.responsive-slider-parallax .pages-wrapper .pages li a.active {
	background-color: #e67e22;
}

.responsive-slider-parallax .pages-wrapper .pages li a:hover {
	background-color: #bf6516;
}
/*Responsive Slider Css End*/

/*Headline Css Strat*/
.headline {
    position: relative;
    background-image: url('../images/home/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 250px;
}
.title{
    padding-top: 70px;
}
.title h1 {
    color: #FFFF00;
    font-size: 42px;
}

.title h4 {
    color: #fff;
}
/*Headline Css End*/

/*Software development Css Start*/
.sd-info {
    background-color: seashell;
    padding-top:30px;
    padding-bottom:30px;
}
.sd-title h1 {
    color: #1A5396;
}
.sd-title p {
    font-size: 22px;
    font-family: 'Raleway';
}
.sd-img{
    margin-top:30px;
    border-radius: 5px;
    width:450px;
}

/*Software development Css End*/

/*Job Consultancy Css Start*/
.job-info {
    background-color: seashell;
    padding-top: 30px;
    padding-bottom: 30px;
}
.job-title h1 {
    color: #1A5396;
}
.job-title p {
    font-size: 22px;
    font-family: 'Raleway';
}
.job-img {
    margin-top: 30px;
    border-radius: 5px;
    width: 450px;
}
/*Job Consultancy Css End*/
/*Service Css Start*/
.background-clouds {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-title {
    color: #1A5396;
    font-weight: 100;
    font-size: 60px;
    border: 0;
    padding-bottom: 10px;
}
.info-thumbnail {
	position: relative;
	padding: 0 0 1px;
	border: 0;
	color: inherit;
	margin-bottom: 0;
	background-color: transparent
}

.info-thumbnail>div:first-child,
.info-thumbnail>img:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px
}

.info-thumbnail>div:last-child,
.info-thumbnail>img:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.info-thumbnail .round {
	border-radius: 4px;
    width: 600px;
    height: 250px;
    padding-bottom:30px;
}

.info-thumbnail.padding1 {
	padding: 1px
}

.info-thumbnail .service {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	text-align: center;
	color: #fff;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-transition: opacity .5s;
	transition: opacity .5s
}

.info-thumbnail .service:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle
}

.info-thumbnail .service .service-name {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-transform: scale(0.5, .5);
	-ms-transform: scale(0.5, .5);
	transform: scale(0.5, .5);
	-webkit-transition: -webkit-transform .8s;
	-moz-transition: -moz-transform .8s;
	-o-transition: -o-transform .8s;
	transition: transform .8s;
	width: 90%
}

.info-thumbnail .service .service-name h1,
.info-thumbnail .service .service-name h2,
.info-thumbnail .service .service-name h3,
.info-thumbnail .service .service-name h4,
.info-thumbnail .service .service-name h5 {
	margin-top: 0
}

.info-thumbnail .service .service-name .btn-service {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.info-thumbnail .service .service-name .btn-service:hover {
	background-color: rgba(255, 255, 255, .3);
}

.info-thumbnail.popular {
	margin-top: -15px
}

.info-thumbnail.popular .caption {
	padding-bottom: 35px
}

.info-thumbnail.popular .caption .description {
	margin-bottom: 25px
}

.info-thumbnail.with-icon {
	margin-top: 45px
}

.info-thumbnail .special {
	width: 100%;
	text-align: center
}

.info-thumbnail .special h1,
.info-thumbnail .special h2,
.info-thumbnail .special h3,
.info-thumbnail .special h4,
.info-thumbnail .special h5 {
	padding: 5px 20px;
	margin: 0
}

.info-thumbnail .pricing-head {
	width: 100%;
	height: 100px
}

.info-thumbnail .pricing-head.bordered {
	padding: 1px 1px 0
}

.info-thumbnail .pricing-head.bordered .pricing-head-body {
	height: 99px
}

.info-thumbnail .pricing-head .pricing-head-body {
	width: 100%;
	height: 100px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	text-align: right
}

.info-thumbnail .pricing-head .pricing-head-body.no-border-radius {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.info-thumbnail .pricing-head .pricing-head-body:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -.25em
}

.info-thumbnail .pricing-head .pricing-head-body .price-wrapper {
	display: inline-block;
	vertical-align: middle;
	font-family: Lato, Helvetica, Arial, sans-serif;
	padding-right: 19px;
	text-align: center
}

.info-thumbnail .pricing-head .pricing-head-body .price-wrapper .price {
	font-size: 60px;
	line-height: 60px
}

.info-thumbnail .pricing-head .pricing-head-body .price-wrapper .per {
	font-size: 14px;
	line-height: 20px
}

.info-thumbnail .icon {
	position: absolute;
	top: -40px;
	left: 20px
}

.info-thumbnail .icon .fa-stack {
	font-size: 50px
}

.info-thumbnail .caption {
	color: inherit;
	padding: 20px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.info-thumbnail .caption.bordered {
	margin: 0 1px
}

.info-thumbnail .caption [class*="fa fa-"] {
	display: inline-block;
	width: 20px;
	font-size: 18px;
	vertical-align: middle
}

.info-thumbnail .caption h3 {
	margin-top: 0
}

.info-thumbnail .caption h3 [class*="fa fa-"] {
	margin-left: -8px;
	margin-right: 8px;
	font-size: 1.5em;
	width: auto;
	vertical-align: baseline
}

.info-thumbnail .caption .buttons {
	margin-top: 10px;
	margin-bottom: 0;
	text-align: right
}

.info-thumbnail .caption .news {
	margin: 0 0 10px;
	border-radius: 4px
}

.info-thumbnail .caption .news .pull-left,
.info-thumbnail .caption .news .pull-right {
	font-size: 30px;
	text-align: right;
	line-height: 20px
}

.info-thumbnail .caption .news .pull-left small,
.info-thumbnail .caption .news .pull-right small {
	font-size: 14px
}

.info-thumbnail .caption .news .media-body .media-heading {
	font-weight: 400
}

.info-thumbnail .caption .news .media-body p {
	margin: 0
}

.info-thumbnail .caption .news-link {
	color: inherit;
	text-decoration: none
}

.info-thumbnail .caption .news-link .news {
	padding: 5px;
	-webkit-transition: all .2s;
	transition: all .2s
}

.info-thumbnail .caption .news-link:hover .news {
	background-color: #e67e22;
	color: #fff
}

.info-thumbnail .caption .news-link:hover .news .btn-link,
.info-thumbnail .caption .news-link:hover .news .btn-link:hover,
.info-thumbnail .caption .news-link:hover .news a,
.info-thumbnail .caption .news-link:hover .news a:hover {
	color: #f8dcc2;
}

.info-thumbnail .caption .news-link:hover .news a.btn {
	color: #fff;
}

.info-thumbnail .caption .news-link:hover .news a.btn.btn-default {
	color: #333;
}

.info-thumbnail .caption .news-link:hover .news .pull-left,
.info-thumbnail .caption .news-link:hover .news .pull-right {
	color: #f6ceab;
}

.info-thumbnail-link {
	color: inherit;
}

.info-thumbnail-link:hover {
	color: inherit;
	text-decoration: none;
}

.info-thumbnail-link:hover .info-thumbnail {
	animation: info-humbnail .4s forwards;
	-webkit-animation: info-humbnail .4s forwards;
}

.info-thumbnail-link:hover .info-thumbnail .service {
	opacity: 1;
	filter: alpha(opacity=100);
    margin-bottom: 30px;
}

.info-thumbnail-link:hover .info-thumbnail .service .service-name {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.filters {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.filters .filter {
	display: inline-block;
}

.filters .filter.active a {
	border: 1px #1A5396 solid;
}

.filters .filter a {
	display: block;
	padding: 3px 5px;
	border: 1px transparent solid;
	color: inherit;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
}

.filters .filter a:hover {
	text-decoration: none;
	background-color: #1A5396;
	color: #fff;
}

.mix {
	display: none;
	opacity: 0;
}

.gallery-thumbnail {
	padding: 0;
	border: 0;
	background: 0 0;
}

.gallery-thumbnail img {
	-webkit-box-shadow: 0 0 0 3px #e67e22;
	box-shadow: 0 0 0 3px #e67e22;
	-webkit-transition: -webkit-transform 1s, box-shadow .5s;
	-moz-transition: -moz-transform 1s, box-shadow .5s;
	-o-transition: -o-transform 1s, box-shadow .5s;
	transition: transform 1s, box-shadow .5s;
}

.gallery-thumbnail:hover img {
	animation: gallery-humbnail .6s forwards;
	-webkit-animation: gallery-humbnail .6s forwards;
	-webkit-box-shadow: 0 0 0 10px #e67e22;
	box-shadow: 0 0 0 10px #e67e22;
	-webkit-transform: scale(1.07);
	-ms-transform: scale(1.07);
	transform: scale(1.07);
}


/*Service Css End*/
/*Footer Css Start*/
.footer-up {
    background-image: url('../images/home/background.jpg');
    
}
.dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
}
.footer-info h3 {
    font-size: 2.5em;
    color: #fff;
}
.footer-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-info ul li {
    margin-bottom: 5px;
}
.footer-info ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.footer-info ul li a:hover,footer-info ul li a:focus{
    color:#f00;
}
.contact-info p {
    font-size: 30px;
    color: #1A5396;
    padding-left: 10px;
}
.contact-info a {
    text-decoration: none;
}
.contact-info a:hover {
    color:#f00
}
.social-title {
    font-size: 20px;
    color: #fff;
    padding-left: 20px;
}
.footer {
    color: #fff;
    background-color: #223344;
    text-align: center;
    padding: 10px;
}
/*Footer Css End*/
/*About Page Css Start*/
.aboutpage {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #D3D3D3;
}
.nav-tabs {
    float: left;
    border-bottom: 0;
    padding-top: 150px;
}
.nav-tabs li{
    float: none;
    margin: 0;
    border-bottom: 2px solid #F5F5F5;
}
.nav-tabs li a{
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    background-color: #223344;
    color: #fff;
}
.nav-tabs li a:hover {
     background-color: dimgrey;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.tab-content {
    margin-left: 45px;
}
.tab-pane {
    display: none;
    padding: 1.6rem;
    overflow-y: auto;
}
.about-info {
    padding-top: 50px;
}
.panel-heading {
    background: #223344 !important;
    height: 55px !important;
}
.about-title {
    color: #fff;
    text-align: center;
    margin-top: -5px;
    
}
.about-desp {
    margin-top: 60px;
    font-size: 22px;
}
.about-img {

    margin-top: -40px;
}
.fa{
    padding-right: 10px;
    
}
.list-group li{
    font-size: 25px;
    list-style:none;
    color: #fff;
    padding:10px 10px 10px 20px;
}
.about-feature {
    background-image: url('../images/home/background.jpg');
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-bottom: -20px;
}
.about-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    margin-left: -13px;
    margin-right: -14px;
}
/*About Page Css End*/
/*Contact Page Css Start*/
.contact{
    padding-top:100px;
}
.form_side {
  padding: 0px 63px 80px 0;
}
.part_title {
    margin-bottom: 25px;
    color: #1A5396;
}

.contactForm {
    margin: 0;
}
#contactForm{
    margin-bottom: 15px;
}
.form-control {
    background: rgba(154, 161, 169, 0.29);
    border-radius: 0;
    border: none;
    box-shadow: none;
    resize: none;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #443a44;
    margin-bottom: 15px;
}
.detail_address {
padding: 0px 0 80px 15px;
}
.media {
  margin-top: 0px;
}
.media-body {
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #443a44;
  letter-spacing: 1px;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Hind', sans-serif;
}
.media-body h1 {
    color: #1A5396;
}
.media-body p{
    font-size: 23px;
    font-family:BDGalaQuadra
}
/*Contact Page Css End*/
/*Sevices Page Css Start*/
.services {
    position: relative;
    padding: 40px 0 10px;
    background: #fff;
}
.sidebar-service {
    background-color: #ecf0f1;
    margin-top: 110px;
}
.right-service {
    background-color: gainsboro;
    font-size: 22px;
    text-align: justify;
}


.list-group-item {
    background-color: transparent;
    border: 0;
    color: inherit;
}
.list-group-item:hover{

    background-color: #fff!important;
}
.content h1 {
    margin: 25px 0px 25px;
    text-align: center;
    color: #1A5396;
}
.faq .panel {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-title{
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.panel-title a{
    text-decoration: none;
}
/*Sevices Page Css End*/
/*Career Page Css Start*/
.career-header{
    padding-top: 50px;
}
.career-info h1 {
    color: #1A5396;
    text-align: center;
    padding-bottom: 20px;
}
.career-info p{
    color: #333;
    font-size:20px;
    text-align: justify;
}
.job-section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.table-head {
    background-color: #223344;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.table-body {
    background-color: #949FAE;
    color: #333;
    font-size: 20px;
}
.grid-box {
    text-align: center;
    padding-bottom: 40px;
    background-color: #F8F7F6;
    margin: 40px 0 0 0;
    min-height: 400px;
}
.grid-box:first-child {
    margin-top: 0;
}
.career-panel {
    margin-bottom: 40px;
    padding: 1.25rem;
    background: #f2f2f2;
    color: #333;
}
.career-panel p {
    font-size: 18px;
    text-align: justify;
}
.btn-send{
     border-radius: 0px;
     border:1px solid #00bfff;
     background:#00bfff;
     color:#fff;
     float: right;
}

.btn-send:hover{
      border:1px solid #00bfff;
      background:#fff;
      color:#00bfff;
      transition:background 0.5s;   
}

/*Career Page Css End*/

/*Job Details Page Css Start*/
.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}
.profile-name {
    color: #fff;
    font-size: 40px;
    border: 1px solid #1A5396;
    background-color: #223344;
    padding: 5px;
    text-align: center;
}
.job-left {
    color: #1A5396;
    font-size: 22px;
    padding-top: 20px;
}
.job-right {
    padding-top: 20px;
    font-size: 22px;
}
.job-list {
    text-align: center;
    color: #1A5396;
    font-size: 30px;
}
/*Job Details Page Css End*/